body {
  font-family: Roboto, sans-serif, Helvetica;
  display: flex;
  flex-direction: column;
  height: 1500px;
  margin: 0;
}
header {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-color: #1f2937;
  color: white;
  margin-bottom: 50px;
  height: 400px;
  gap: 40px;
}
content {
  margin-top: 10px;
}
footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  font-size: 10px;
}
a {
  cursor: pointer;
}
button {
  background-color: #3882f6;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
}

.logo {
  width: 30px;
}
.logo-linksContainer,
.hero {
  display: flex;
  flex-direction: row;
  background-color: #1f2937;
}
.logo-linksContainer {
  margin-top: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-left: 20px;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 36px;
  text-align: center;
}
.links {
  display: flex;
  gap: 25px;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 14px;
}
.hero {
  justify-content: center;
  margin-bottom: 10px;
  gap: 50px;
}
.heroContainer {
  width: 400px;
  padding: 20px;
}

.heroImg {
  width: 200px;
  height: 200px;
  margin: 20px;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: 400px;
}
.title {
  text-align: center;
  font-size: 24px;
}
.cardContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 8px;
  border: none;
  border-radius: 6px;
  width: 190px;
  height: 200px;
  box-shadow: 2px 2px 8px rgb(121, 119, 119);
  cursor: pointer;
}
.cardImg {
  height: 100px;
}
.quote {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

.textContainer {
  width: 600px;
  font-size: 26px;
}
#myQuote {
  text-align: right;
}
.call4Action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.callContainer {
  display: flex;
  align-items: center;
  width: 700px;
  background-color: #3882f6;
  gap: 80px;
  border-radius: 10px;
  padding: 0 30px;
}
.text4Action {
  color: white;
  padding: 10px;
}
button.actionBtn {
  border: 1px solid white;
}
