body {
  font-family: Roboto, sans-serif, Helvetica;
  display: flex;
  flex-direction: column;
  height: 1500px;
  margin: 0;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1f2937;
  color: white;
  margin-bottom: 50px;
  height: 200px;
}
content {
  display: flex;
}
footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  font-size: 10px;
}
.logo {
  width: 30px;
}
.logo-linksContainer,
.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1f2937;
}
.logo-linksContainer {
  margin-top: 10px;
  margin-bottom: 20px;
}
.hero {
}
.heroContainer {
  width: 600px;
  padding: 20px;
}
.heroImg {
  width: 200px;
  margin: 20px;
}
.quote {
  display: flex;
  background-color: #e5e7eb;
}

.call4Action {
  display: flex;
  flex-direction: row;
}

.callContainer {
  display: flex;
  background-color: #3882f6;
}
